$icomoon-font-path: "fonts" !default;

$bitIcon-blank: "\e900";
$bitIcon-blank-sq: "\e901";
$bitIcon-c: "\e902";
$bitIcon-c-sq: "\e903";
$bitIcon-cpp: "\e904";
$bitIcon-cpp-sq: "\e905";
$bitIcon-cs: "\e906";
$bitIcon-cs-sq: "\e907";
$bitIcon-css: "\e908";
$bitIcon-css-sq: "\e909";
$bitIcon-css3: "\e90a";
$bitIcon-css3-sq: "\e90b";
$bitIcon-haskell: "\e90c";
$bitIcon-haskell-sq: "\e90d";
$bitIcon-html: "\e90e";
$bitIcon-html-sq: "\e90f";
$bitIcon-html5: "\e910";
$bitIcon-html5-sq: "\e911";
$bitIcon-java: "\e912";
$bitIcon-java-alt: "\e913";
$bitIcon-java-alt-sq: "\e914";
$bitIcon-java-sq: "\e915";
$bitIcon-jquery: "\e916";
$bitIcon-jquery-hollow: "\e917";
$bitIcon-js: "\e918";
$bitIcon-js-sq: "\e919";
$bitIcon-less: "\e91a";
$bitIcon-less-sq: "\e91b";
$bitIcon-mysql: "\e91c";
$bitIcon-mysql-sq: "\e91d";
$bitIcon-node: "\e91e";
$bitIcon-node-sq: "\e91f";
$bitIcon-objc: "\e920";
$bitIcon-objc-sq: "\e921";
$bitIcon-perl: "\e922";
$bitIcon-perl-sq: "\e923";
$bitIcon-php: "\e924";
$bitIcon-php-sq: "\e925";
$bitIcon-python: "\e926";
$bitIcon-python-sq: "\e927";
$bitIcon-rails: "\e928";
$bitIcon-rails-sq: "\e929";
$bitIcon-ruby: "\e92a";
$bitIcon-ruby-sq: "\e92b";
$bitIcon-sass: "\e92c";
$bitIcon-sass-seal: "\e92d";
$bitIcon-sass-seal-sq: "\e92e";
$bitIcon-sass-sq: "\e92f";
$bitIcon-scala: "\e930";
$bitIcon-scala-sq: "\e931";
$bitIcon-script: "\e932";
$bitIcon-script-sq: "\e933";
$bitIcon-shell: "\e934";
$bitIcon-shell-sq: "\e935";
$bitIcon-swift: "\e936";
$bitIcon-swift-sq: "\e937";

